.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

nav a {
    position: relative;
    transition: border-bottom-color 0.3s;
}

nav a:hover {
    border-bottom: 2px solid #EAB308;
}
.p-6 {
    margin-top: 6rem;
    padding: 1.5rem;
}